@import "../../../config/variables.module.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.title {
  font-size: 6.6rem;
  margin-bottom: 8rem;
}

.selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100rem;
  margin-bottom: 7.2rem;

  &__item {
    font-size: 1.4rem;
    cursor: pointer;
    color: rgba($text, 0.4);
    transition: all 0.3s;

    &:hover {
      color: rgba($text, 0.7);
    }

    &--active {
      color: $text !important;
    }
  }
}

.projects {
  width: 100rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}

.btn {
  margin-top: 7rem;
}
