.container {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 2rem;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 2;
    transition: background-color 0.3s;
  }

  &:hover {
    .video {
      scale: 1;
    }

    .play-btn {
      &--small {
        width: 5.6rem;
        height: 5.6rem;

        svg {
          width: 1.6rem;
          height: 1.6rem;
        }
      }

      &--large {
        width: 8.8rem;
        height: 8.8rem;

        svg {
          width: 1.6rem;
          height: 1.6rem;
        }
      }
    }
  }

  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    scale: 1.1;
    transition: scale 0.4s cubic-bezier(0.45, 0.07, 0, 0.99);
  }

  .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3f3f3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transition: width 0.3s cubic-bezier(0.45, 0.07, 0, 0.99),
      height 0.3s cubic-bezier(0.45, 0.07, 0, 0.99);

    &--small {
      width: 5rem;
      height: 5rem;

      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    &--large {
      width: 8rem;
      height: 8rem;

      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    svg {
      fill: #161616;
      transition: width 0.3s cubic-bezier(0.45, 0.07, 0, 0.99),
        height 0.3s cubic-bezier(0.45, 0.07, 0, 0.99);
    }
  }
}

.video-player {
  &__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  &__video {
    width: calc(fit-content);
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
  }

  &__close {
    position: fixed;
    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;

    svg {
      width: 1.6rem;
      height: 1.6rem;
      fill: #161616;
    }
  }
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__play {
    svg {
      height: 2rem;
      width: 2rem;
      fill: #000;
    }
  }
}

.popup-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-video {
  width: 80%;
  // height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  z-index: 101;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  &__video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 102;
    transition: filter 0.3s;

    &--paused {
      filter: blur(5px) grayscale(1);
    }
  }

  &__replay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;

    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
}

.pause-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 111;

  font-size: 5rem;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 6rem;
  mix-blend-mode: difference;
  user-select: none;
  pointer-events: none;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background: linear-gradient(to top, black, transparent);
  z-index: 105;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: 2rem;

  &__time {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__replay {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;

    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.3s,
      transform 400ms cubic-bezier(0.67, -0.67, 0, 1.44);

    button {
      background-color: transparent;
      border-style: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      rotate: 0;
      transition: background-color 0.3s,
        transform 400ms cubic-bezier(0.67, -0.67, 0, 1.44);
    }

    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
      background-color: rgba(255, 255, 255, 1);
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    padding: 4px;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.3s,
      scale 400ms cubic-bezier(0.67, -0.67, 0, 1.44);

    &::after {
      content: attr(data-label);
      font-family: var(--font-dm-sans);
      font-size: 1rem;
      position: absolute;

      padding: 0.1rem 0.6rem;
      z-index: 2;
      transition: background-color 0.3s,
        transform 0.3s cubic-bezier(0.37, 0.31, 0, 1.44), opacity 0.2s;
      border-radius: 10rem;
      background-color: rgb(243, 243, 243);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      opacity: 0;
      transform: translateY(-2rem);
    }

    &:hover {
      background-color: rgba(255, 255, 255, 1);
      scale: 1.2;

      &::after {
        transform: translateY(-3rem);
        opacity: 1;
      }
    }
  }

  &__video-progress {
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    background: #cacaca;
    height: 2px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background: #fff;
      height: 4px;
    }

    /* Thumb for WebKit (Chrome, Safari, Edge) */
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 1.4rem;
      width: 1.4rem;
      background-color: #fff;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        scale: 1.1;
      }
    }

    /* Thumb for Firefox */
    &::-moz-range-thumb {
      height: 1.4rem;
      width: 1.4rem;
      background-color: #fff;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        scale: 1.1;
      }

      &:active {
        scale: 1.4;
      }
    }
  }
}
