.footer {
  display: flex;
  padding: 3rem 6rem;
  align-items: center;
  justify-content: space-between;
}

.socials {
  display: flex;
  gap: 4rem;

  & > * {
    opacity: 0.3;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}
