@import "../../../config/variables.module.scss";
@import "../../../config/mixins.module.scss";

.container {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include respond(tab-land) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.circle {
  width: 80rem;
  height: 80rem;
  border-radius: 50%;
  border: 1px solid rgba($text, 0.2);
  position: absolute;
  top: 20%;
  left: -10%;
}

.square {
  width: 80rem;
  height: 80rem;
  border: 1px solid rgba($text, 0.2);
  position: absolute;
  bottom: 20%;
  right: -20%;
  transform: rotate(45deg);
  animation: rotate 280s linear infinite;
}

.left,
.right {
  z-index: 1;
}

.left {
  position: relative;
}

.image {
  filter: grayscale(100%) brightness(0.8);
  transition: filter 0.3s, scale 0.3s cubic-bezier(0.65, 0.05, 0, 1);

  &:hover {
    filter: grayscale(0) brightness(1);
    scale: 1.02;
    z-index: 2;
  }
  &--1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    @include respond(phone) {
      transform: translate(-50%, -50%) scale(0.8);
    }
  }

  &--2 {
    position: absolute;
    top: 25%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 1;

    @include respond(phone) {
      display: none;
    }
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 9.2rem;

  @include respond(phone) {
    font-size: clamp(5rem, 8vw, 9.2rem);
  }
}
.description {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 2rem;
  width: 55rem;
  text-align: justify;

  @include respond(phone) {
    width: 100%;
    padding: 0 4rem;
  }
}

.btn-container {
  width: 55rem;
  margin-top: 4rem;
  @include respond(tab-land) {
    width: 100%;
    padding: 0 4rem;
    margin-block: 3rem;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
